<div th:fragment="deleteWorkoutModal">
  <form th:action="@{/workouts/delete}" method="post" th:object="${workoutForm}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div class="modal fade" id="deleteWorkoutModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Hapus Aktivitas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <div class="alert alert-danger">
              Apakah kamu yakin ingin menghapus aktivitas dengan judul
              <strong id="deleteWorkoutTitle">Workout Title</strong>&nbsp;?
            </div>

            <!-- Hidden ID Workout -->
            <input id="deleteWorkoutId" type="hidden" th:field="*{id}" />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Batal
            </button>
            <button type="submit" class="btn btn-danger">
              Lanjutkan, Hapus
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>